{% extends "hostel2/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

  <link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">


<div class="container"> <section class="profile_container">
  <div class="profile_img_section">
    <img class="profile_img-LG" src="{{ user.profile.image.url }}" />
  </div>

  <div class="profile_desc_section">
    <h2 style="font-weight: bolder; font-family: Lucida Calligraphy; font-size: 50px; color: black; text-shadow: 3px 3px 3px rgb(9, 240, 240);">{{ user.username }}</h2>
    <h3 style="font-weight: bolder; color: black;"><b>Email: &nbsp; </b>{{ user.email }}</h3>
    <h3 style="font-weight: bolder; color: black;"><b>Roll No: &nbsp; </b>{{ user.profile.roll_no }}</h3>
    <h3 style="font-weight: bolder; color: black;"><b>Room No: &nbsp; </b>{{ user.profile.room_no }}</h3>

    <p class="description" style="font-weight: bolder; color:black;"><b>Interests : &nbsp; </b>{{ user.profile.interests }}</p>
    
    <h3 style="font-weight: bolder; color: black;"><b>GC Participation: &nbsp; </b>{{ user.profile.gc_participation }}</h3>
    
  </div>
  </div>
  <div class="container">
    <a class="btn btn-outline-info" href="{% url 'profile_update' %}">Edit Profile</a>
  </div>
 

 

 {% endblock %}